<footer>
    <a href="/other/privacy-and-terms#tac" class="<% if (data?.currentPath?.includes('terms')) { %>highlighted<% } %>">Terms of Service</a>
    <a href="/other/privacy-and-terms#privacy" class="<% if (data?.currentPath?.includes('privacy')) { %>highlighted<% } %>">Privacy Policy</a>
</footer>