<% layout('/layouts/boilerplate') %>

<div class="general-max-width margin-auto p50 p0-top">
    <h1>That Page Was Not Found</h1>
    <%- include('./partials/search') %>
    <div style="text-align: center;">
        <p>Please use the search bar or see <a href="/camp/all-parks">all parks</a>.</p>
    </div>


    

</div>