<% layout('/layouts/boilerplate') %>

<!-- Top tear -->
<div class="nav-tear top home">
    <img src="/images/partials/home-page-nav-ripped.png" alt="" />
</div>

<!-- Hero -->
<div id="home-hero" >
    <div class="general-max-width margin-auto white-text">
        <div style="height: 100px;"></div>

        <h1>See campsites from real campers.</h1>

        <%- include('./partials/search') %>

        <a class="btn btn-primary" href="/camp/all-parks">See All Parks</a>

        
    </div>
</div>
<!-- <div style="height: 100px;"></div> -->
 
<!-- Bottom tear -->
<div class="nav-tear bottom home">
    <img src="/images/partials/content-top-ripped.png">
</div>
<div class="nav-tear-filler bottom home"></div>