<% layout('/layouts/boilerplate') %>
<div class="general-max-width margin-auto p50 p0-top account">
  <h1>Successfully Registered.</h1>

  <div class="flex-column">
    <h2>Verify Your Account</h2>
    <p>You'll shortly receive an email with a link to verify that it is indeed your email (check your spam folder if you do not see it). </p>
    <p>Please click that link and you'll be good to go!</p>
  </div>
  

</div>



 <script type="text/javascript" src="/js/account.js"></script>
