<!DOCTYPE html>
<html lang="en">
  <body style="font-family: Arial, sans-serif;">
    <p>
        Someone submitted the contact form on CampPics:
    </p>
    <p>
        <strong>Name:</strong> <%=fname%><br>
        <strong>Email:</strong> <%=email%><br>
        <strong>Subject:</strong> <%=email_subject%><br>
        <strong>Question:</strong> 
        <br><em><%=email_body%></em>
    </p>
  </body>
</html>