<!DOCTYPE html>
<html lang="en">
  <body style="font-family: Arial, sans-serif;">
    <p>
        Hi there,<br>
        You're receiving this email because you are trying to reset your password on CampPics.ca. <br>
        <em>If you did not request this, you can ignore this email (or change your password as a precaution).</em><br>
        Please click the link below within the next 15 minutes.<br>
        <a href="<%= process.env.CC_DOMAIN %>/user/forgot-password/<%= userid %>/<%= code %>"><strong>Click here to reset.</strong></a><br>
    </p>

    <%- include('./partials/signature') %>
  </body>
</html>
