<% layout('/layouts/boilerplate') %>

<div class="general-max-width margin-auto p50 p0-top">
    <h1>Frequently Asked Questions</h1>

    <div class="faq-div">
        <div class="faq-question">
            Who is this site for?
        </div>
        <div class="faq-answer">
            The aim is to allow the camping community to share more accurate photos of campsites so that back-country and front-country campers know what they're reserving.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Are there any rules?
        </div>
        <div class="faq-answer">
            <ul>
                <li>Please don't include photos/videos of others without their permission (or blur them out).</li>
                <li>Do your best to show the campsite in the most useful way (wide angle, no things in the way, etc).</li>
                <li>Please follow all park rules (ex. no park drone shots if drones are not allowed there).</li>
                <li>Not a rule for this website - but help keep our parks clean and untouched for the future generations!</li>
            </ul>
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Why can't I find a park?
        </div>
        <div class="faq-answer">
            Only the provincial, territorial and national parks that offer camping are available.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            How do I contribute?
        </div>
        <div class="faq-answer">
            Simply make an account, and upload! You will get the option to show your "nickname" attribution below the photo/video (up to you).
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            How will my uploaded media be used?
        </div>
        <div class="faq-answer">
            Once you upload, we have the right to use this media (for example, for marketing, on our social pages, etc.). If you wish to be credited (which is strongly recommended), when uploading, please check the "Show your nickname" checkbox, so we know who to credit.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Why is there a limit on how much I can upload?
        </div>
        <div class="faq-answer">
            While all photo and video contributions are appreciated, please upload only your best photos and videos. In order to keep this website free for as long as possible, our resources (i.e. funds) are limited to keep things running.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Can't I just see the photos on the Canadian (or provincial/territorial) booking website?
        </div>
        <div class="faq-answer">
            Yes, but many of those are outdated, pixelated, and don't show the whole picture. The aim is to provide more useful photos and videos on this site.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Can I make a suggestion?
        </div>
        <div class="faq-answer">
            Yes, of course, please go to the <a href="/other/contact">Contact page</a>; always happy to hear constructive criticism and feedback.
        </div>
        <div class="border"></div>
    </div>

    <div class="faq-div">
        <div class="faq-question">
            Why is the website dark (or look funny)?
        </div>
        <div class="faq-answer">
            Try toggling to "sunny mode" by clicking the moon in the navigation bar!<br>
            If the website looks funny, you most likely have:
            <ul>
                <li>A Dark Reader extension on your browser</li>
                <li>An outdated web browser</li>
            </ul>
        </div>
        <div class="border"></div>
    </div>


</div>